name: Docker Image CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: JDK 11 (Default)
      uses: elgohr/Publish-Docker-Github-Action@cade1bc
      with:
        name: junitteam/build
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        workdir: base
    - name: JDK 12
      uses: elgohr/Publish-Docker-Github-Action@cade1bc
      env:
        ADDITIONAL_JDK_VERSION: 12.0.2.hs-adpt
      with:
        name: junitteam/build:12
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        workdir: extended
        buildargs: ADDITIONAL_JDK_VERSION
    - name: JDK 13
      uses: elgohr/Publish-Docker-Github-Action@cade1bc
      env:
        ADDITIONAL_JDK_VERSION: 13.0.2.hs-adpt
      with:
        name: junitteam/build:13
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        workdir: extended
        buildargs: ADDITIONAL_JDK_VERSION
    - name: JDK 14
      uses: elgohr/Publish-Docker-Github-Action@cade1bc
      env:
        ADDITIONAL_JDK_VERSION: 14.ea.34-open
      with:
        name: junitteam/build:14
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        workdir: extended
        buildargs: ADDITIONAL_JDK_VERSION
    - name: JDK 15
      uses: elgohr/Publish-Docker-Github-Action@cade1bc
      env:
        ADDITIONAL_JDK_VERSION: 15.ea.8-open
      with:
        name: junitteam/build:15
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        workdir: extended
        buildargs: ADDITIONAL_JDK_VERSION
